                            /* 1. HEADER - SELECTOR DE IDENTIFICADOR */
#header-poncho {
    background: #294268;
    color: #ffffff;
    border-bottom: 4px solid #cda034; /* Borde dorado */
}

#header-poncho h1 {
    font-size: 2.8rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    letter-spacing: 1px;
    font-family: Georgia;
}

#header-poncho p {
    color: #ffd148;
    font-size: 1.2rem;
    font-family:"Palatino Linotype";
}

.contenedor-flexible {
    display: flex; /* Activa el modo flexible */
    justify-content: center; /* Centra horizontalmente ambos elementos */
    align-items: center; /* Alinea verticalmente al centro la imagen y el texto */
    gap: 20px; /* Le da una separación de 20px entre la imagen y el texto */
    margin: 0 auto; /* Cero margen lateral */
    padding: 20px 15px;
}

                            /* 2. MENÚ DE NAVEGACIÓN */
.navbar-poncho {
    background-color: #aec8f7 !important;
}

.navbar-poncho .nav-link {
    color: #01193f;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navbar-poncho .nav-link:hover {
    background-color: rgb(200 147 32 / 0.4); /* Resaltado dorado translúcido */
    color: #01193f;
}

.btn-menu {
    background-color: #ffffff; /* Color cobre */
    color: #ffffff;
    border-radius: 6px;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
}

.btn-menu:hover {
    background-color: #d39e29; /* Color cobre pasar el cursor */
    color: #c19126;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 2px #d4af37 !important; /* Delgado (2px) y en dorado */
    outline: none !important;
}
                            /* 3. CONFIGURACIÓN GENERAL */
body {
    background-color: #fdfbf7;
    font-family: Tahoma;
    color: #351f15;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Empuja al footer al fondo si hay poco contenido */
    max-width: 90%; /* Usa el 90% de la pantalla, dejando un 5% libre de cada lado */
    margin: 0 auto; /* Centra el bloque entero en la pantalla de forma automática */
}

                            /* 4. TARJETAS Y CONTENEDORES */
.card-poncho {
    background-color: #ffffff;
    border: 2px solid #e9dab8;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(53, 31, 21, 0.06);
    padding: 25px;
    margin-bottom: 25px;
}

.card-poncho:hover {
    transform: translateY(-2px); /* Efecto sutil de elevación */
    box-shadow: 0 8px 25px rgba(53, 31, 21, 0.1);
}

.card-poncho h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #9a6f15;
    letter-spacing: 1.3px;
    font-family: Georgia;
}

                            /* 5. FORMULARIOS (FIELDSETS Y ENTRADAS DE DATOS) */
.fieldset-poncho {
    border: 1px solid #986d15;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #fdfdfd;
}

/* Título principal del formulario */
#registro-solicitud h2 {
    font-family: Georgia, serif;
    color: #294268;
    font-weight: bold;
    border-bottom: 3px solid #cda034;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#publicar-producto h2 {
    font-family: Georgia, serif;
    color: #294268;
    font-weight: bold;
    border-bottom: 3px solid #cda034;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.fieldset-poncho legend {
    float: none;
    width: auto;
    padding: 6px 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #294267;
    font-size: 1.1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Bordes más gruesos y definidos para los campos */
.card-poncho .form-control,
.card-poncho .form-select {
    border: 1px solid #996e15;
    transition: border-color 0.2s ease-in-out;
}

/* Cambio de color cuando el artesano hace clic para escribir (Focus) */
.card-poncho .form-control:focus,
.card-poncho .form-select:focus {
    border-color: #adc7f5;
    box-shadow: 0 0 0 0.1rem rgb(172 198 244);
}

/* Texto de ejemplo en inputs y áreas de texto */
.form-control::placeholder,
textarea::placeholder {
    font-style: italic;
    color: #a0a0a0;
    opacity: 1;
}

/* Etiquetas de texto de los campos (títulos) */
.card-poncho label,
.card-poncho .form-label {
    font-weight: bold;
    color: #2b3149;
    font-size: 0.95rem;
    margin-bottom: 6px;
}
                            /* 6. BOTONES FORMULARIO */
.btn-formulario-primario {
    background-color: #294268;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #294268;
    border-radius: 6px;
    padding: 10px 24px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

/* Efecto interactivo al posar el cursor */
.btn-formulario-primario:hover {
    background-color: #51804f;
    border-color: #517f4f;
    color: #ffffff;
    transform: translateY(-2px);   /* Leve elevación de relieve */
    box-shadow: 0 4px 12px rgba(154, 111, 21, 0.3);
}

.btn-formulario-secundario {
    background-color: #ebdcb9;
    color: #2b3149 !important;
    font-weight: bold;
    border: 2px solid #c2b090;
    border-radius: 6px;
    padding: 10px 24px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.btn-formulario-secundario:hover {
    background-color: #8f1036;
    border-color: #830f32;
    color: #ffffff !important;
    transform: translateY(-2px);
}
                                /* 7. TABLAS PERSONALIZADAS */
.thead-poncho th {
    background-color: #294268;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 8px;
    border-bottom: 3px solid #cda034;
    border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
}

/* Me quita una linea "flotante" al final del encabezado */
.thead-poncho th:last-child {
    border-right: none !important;
}

.nombre-producto {
    color: #2c2f49;
    transition: color 0.2s ease;
}
                                /* 8. CHECKBOX */

/* Contenedor con franja dorada a la izquierda */
.caja-checkbox-destacada {
    background-color: #fcfaf3;
    border: 1px solid #ebdcb9;
    border-left: 5px solid #cda034;
    border-radius: 8px;
    padding: 15px;
    transition: all 0.3s ease;
    width: 100%;
}

/* Efecto hover en toda la caja */
.caja-checkbox-destacada:hover {
    border-color: #cda034;
    box-shadow: 0 4px 12px rgba(53, 31, 21, 0.05);
}

/* Checkbox dorado*/
.caja-checkbox-destacada .form-check-input {
    width: 18px;
    height: 18px;
    border: 2px solid #996e15;
    cursor: pointer;
    margin-top: 0;
}

/* Estilo para los textos internos de la caja */
.caja-checkbox-destacada .form-check-label {
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 10px;
}

                                /* 9. PIE DE PAGINA */
footer{
    background-color: #adc6f5;
}

footer p {
    color: #01193f;
}

.btn-footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #585b5e;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

.btn-footer:hover {
    background-color: #d39e29;
    color: #585b5e;
    transform: translateY(-3px);
    box-shadow: 0 0 0 2px #d4af37;
}

                            /* 10. DISEÑO RESPONSIVO */
@media (max-width: 768px) {
    .contenedor-flexible {
        flex-direction: column; /* Coloca la imagen arriba y el texto abajo */
        text-align: center;
    }

    .contenedor-flexible img {
        width: 150px; /* Reduce el logo para que no ocupe toda la pantalla */
        height: auto;
    }

    #header-poncho p {
        font-size: 1rem; /* Reduce el subtítulo */
    }

    #header-poncho h1 {
        font-size: 2rem;
    }

    .card-poncho {
        padding: 15px;
    }

    /* Control de desborde horizontal para tablas pesadas en móviles */
    .table-responsive-poncho {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid #ebdcb9;
        border-radius: 8px;
        margin-bottom: 20px;
    }
}

